<html>
  <nav>
    <ul id="nav-list">
      <li class="nav-item"> <a href="">LATEST</a></li>
      <li class="nav-item"> <a href="">NEWS</a> </li>
      <li class="nav-item"> <a href="">GUIDES</a> </li>
      <li class="nav-item"> <a href="">HOW TO PLAY</a> </li>
      <li class="nav-item"> <a href="">REVIEWS</a> </li>
    </ul>
  </nav>


  <div id="banner">
    <h1>KEEP UP TO DATE WITH YOUR FAVOURITE GAMEZ</h1>
    <h3 id="h3_news">NEWS</h3>
    <div id="articles">
      <img src="" alt="article1">
      <img src="" alt="article2">
    </div>
  </div>

  <div id="main">
    <div id="action_adventure">
      <h3>ACTION ADVENTURE</h3>
      <div class="wrapper">
        <section id="sec1">
        <a href="#section1">›</a>
          <div class="item">
            <img src="https://gearnuke.com/wp-content/uploads/2017/06/uncharted-the-lost-legacy-listing-thumb-01-ps4-us-05dec16.png" alt="">
          </div>

          <div class="item">
            <img src="https://www.thewrap.com/wp-content/uploads/2022/07/Tomb-Raider.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://compass-ssl.xbox.com/assets/c5/eb/c5eb3d50-8718-4ed9-9300-43e2266765a2.jpg?n=Resident-Evil-Village_GLP-Page-Hero-1084_1920x1080_03.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://images3.alphacoders.com/616/616243.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://i0.wp.com/www.twm.news/wp-content/uploads/2022/03/FNVf5yfWQAUgfAS.jpg?fit=1200%2C675&ssl=1" alt="">
          </div>

          <div class="item">
            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/AC2_GameName_Store_Landscape_2560x1440_2560x1440-402749b1769174ecf0cd3d7a5014d9d4" alt="">
          </div>

          <div class="item">
            <img src="https://s3.us-east-1.amazonaws.com/nd.images/uploads/OutbreakDay_2016.jpg" alt="">
          </div>
        </section>
      </div>
    </div>

    <div id="horror">
      <h3>HORROR</h3>
      <div class="wrapper">
        <section id="sec2">
        <a href="#section2">›</a>
          <div class="item">
            <img src="https://s3.us-east-1.amazonaws.com/nd.images/uploads/OutbreakDay_2016.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_LittleNightmaresCompleteEdition_image1600w.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1721470/header.jpg?t=1651911560" alt="">
          </div>

          <div class="item">
            <img src="https://compass-ssl.xbox.com/assets/c5/eb/c5eb3d50-8718-4ed9-9300-43e2266765a2.jpg?n=Resident-Evil-Village_GLP-Page-Hero-1084_1920x1080_03.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://www.wallpaperflare.com/static/821/858/405/until-dawn-computer-game-skull-hourglasses-wallpaper.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://www.aroged.com/wp-content/uploads/2022/03/1647853327_The-Quarry-Steam-minimum-and-recommended-requirements-revealed.jpg" alt="">
          </div>
        </section>
      </div>
    </div>

    <div id="battle_royale">
      <h3>BATTLE ROYALE</h3>
      <div class="wrapper">
        <section id="sec3">
        <a href="#section3">›</a>
          <div class="item">
            <img src="https://cdn2.unrealengine.com/21br-metaimage-lineup-1920x1080-44acd5f27136.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://cdn1.epicgames.com/offer/50118b7f954e450f8823df1614b24e80/EGS_FallGuys_Mediatonic_S1_2560x1440_2560x1440-54d2b24bd38168c1fdcf8272e4a2da35" alt="">
          </div>
        </section>
      </div>
    </div>

    <div id="open_world">
      <h3>OPEN WORLD</h3>
      <div class="wrapper">
        <section id="sec4">
        <a href="#section4">›</a>
          <div class="item">
            <img src="https://images3.alphacoders.com/616/616243.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://i0.wp.com/www.twm.news/wp-content/uploads/2022/03/FNVf5yfWQAUgfAS.jpg?fit=1200%2C675&ssl=1" alt="">
          </div>

          <div class="item">
            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/AC2_GameName_Store_Landscape_2560x1440_2560x1440-402749b1769174ecf0cd3d7a5014d9d4" alt="">
          </div>
        </section>
      </div>
    </div>

    <div id="survival">
      <h3>SURVIVAL</h3>
      <div class="wrapper">
        <section id="sec5">
        <a href="#section5">›</a>
          <div class="item">
            <img src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_LittleNightmaresCompleteEdition_image1600w.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1721470/header.jpg?t=1651911560" alt="">
          </div>

          <div class="item">
            <img src="https://www.aroged.com/wp-content/uploads/2022/03/1647853327_The-Quarry-Steam-minimum-and-recommended-requirements-revealed.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://s3.us-east-1.amazonaws.com/nd.images/uploads/OutbreakDay_2016.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://compass-ssl.xbox.com/assets/c5/eb/c5eb3d50-8718-4ed9-9300-43e2266765a2.jpg?n=Resident-Evil-Village_GLP-Page-Hero-1084_1920x1080_03.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://www.wallpaperflare.com/static/821/858/405/until-dawn-computer-game-skull-hourglasses-wallpaper.jpg" alt="">
          </div>

          <div class="item">
            <img src="https://www.google.com/search?q=fall+guys&tbm=isch&ved=2ahUKEwj0z-_LhKb5AhUa04UKHaBdATIQ2-cCegQIABAA&oq=fall+guys&gs_lcp=CgNpbWcQAzIECCMQJzIKCAAQsQMQgwEQQzIKCAAQsQMQgwEQQzIKCAAQsQMQgwEQQzIKCAAQsQMQgwEQQzIECAAQQzILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMgQIABBDMgsIABCABBCxAxCDAToHCAAQsQMQQzoFCAAQgAQ6CAgAEIAEELEDOgYIABAeEAhQsQlY3xdg_xloAXAAeACAAWCIAa4FkgECMTCYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=xfvnYrTZJJqmlwSgu4WQAw&bih=789&biw=1440#imgrc=bkadZR2930cw2M" alt="">
          </div>

          <div class="item">
            <img src="https://cdn2.unrealengine.com/21br-metaimage-lineup-1920x1080-44acd5f27136.jpg" alt="">
          </div>
        </section>
      </div>
    </div>
  </div>

  <footer>
  </footer>

</html>
