<html>
  <nav>
    <ul id="nav-list">
      <li class="nav-item">LATEST</li>
      <li class="nav-item">NEWS</li>
      <li class="nav-item">GUIDES</li>
      <li class="nav-item">HOW TO PLAY</li>
      <li class="nav-item">REVIEWS</li>
    </ul>
  </nav>

  <div id="banner">
    <h1>KEEP UP TO DATE WITH YOUR FAVOURITE GAMEZ</h1>
    <h3 id="h3_news">NEWS</h3>
    <div id="articles">
      <img src="" alt="article1">
      <img src="" alt="article2">
    </div>
  </div>

  <div id="action_adventure">
    <h3>ACTION ADVENTURE</h3>
  </div>

  <div id="horror">
    <h3>HORROR</h3>
  </div>

  <div id="battle_royale">
    <h3>BATTLE ROYALE</h3>
  </div>

  <div id="open_world">
    <h3>OPEN WORLD</h3>
  </div>

  <div id="survival">
    <h3>SURVIVAL</h3>
  </div>

  <footer>
  </footer>

</html>
